<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Star Wars Battlegrid.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E426348D1C3A7407005FBCA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42634A61C3A7407005FBCA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42634B11C3A7407005FBCA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
